src/main/app/cookbook.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="get:/cookbook:training-api">
        <logger message="cookbook????get" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="post:/cookbook:training-api">
        <logger message="post+++++++++++++++++++++++++++++++++" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="get:/jobs/{jobId}:training-api">
        <logger message="#[flowVars.jobId]" level="INFO" doc:name="Logger"/>
    </flow>
</mule>
